---
import "../../styles/galleries/gallery_mosaic2.scss";
---

<!-- PROVISIONAL -->
<section>
    <div class="galleryMosaic2__grid">

    </div>
    <div class="projects__title-div"> 

    </div>
</section>
