---
import "../../styles/galleries/gallery_mosaic.scss";
---

<!-- PROVISIONAL -->
<section>
    <div class="galleryMosaic__grid">

    </div>
    <div class="projects__title-div"> 

    </div>
</section>
