---
import Layout from "../../layouts/Layout.astro";
import "../../styles/galleries/gallery_4col.scss";
---

<Layout>
    <section>
        <div class="projects__template1-grid">

        </div>
        <div class="projects__title-div">

        </div>
    </section>
</Layout>
