---
import { sanityClient } from 'sanity:client'
import Layout from '../layouts/Layout.astro'
import '../styles/pages/projects.scss'

type Project = {
    title: string
    slug: string
}

const projects = await sanityClient.fetch<Project[]>(`
    *[_type == "project" && defined(slug.current)] | order(order asc) {
        title,
        "slug": slug.current
    }
`)
---

<Layout activePage="projects">
    <section class="projects-page">
        <div class="project__grid">
            <img src="/media/images/webp/AndreaCalle07.webp" alt="" class="project__grid--medium">
            <img src="/media/images/webp/AndreaCalle16.webp" alt="" class="project__grid--large">
            <img src="/media/images/webp/AndreaCalle13.webp" alt="" class="project__grid--small project__grid--mobile-large">

            <div class="project__grid-text">
                <div>
                    <h2>Proyectos</h2>
                </div>
                <div>
                    <ul>
                        {projects.map((project) => (
                            <li class="small-text">
                                <a href={`/projects/${project.slug}`}>{project.title}</a>
                            </li>
                        ))}
                    </ul>
                </div>
            </div>

            <video src="/media/video2.mp4" class="project__grid--medium" autoplay muted loop playsinline></video>
            <img src="/media/images/webp/AndreaCalle03.webp" alt="" class="project__grid--large">
            <img src="/media/images/webp/AndreaCalle09.webp" alt="" class="project__grid--small">
            <img src="/media/images/webp/AndreaCalle17.webp" alt="" class="project__grid--small">
        </div>
    </section>
</Layout>
