---
import "../styles/footer.scss";
---

<footer class="footer">
    <div class="footer__div">
        <h3 class="footer__title">Instagram</h3>
        <a href="https://instagram.com" class="footer__text" target="_blank">
            @calle_production
        </a>
    </div>

    <div class="footer__div">
        <h3 class="footer__title">Mail</h3>
        <a href="mailto:hello@calleproduction.com" class="footer__text" target="_blank">
            hello@calleproduction.com
        </a>
    </div>

    <div class="footer__div">
        <h3 class="footer__title">Teléfono</h3>
        <a href="tel:+34625013479" class="footer__text" target="_blank">
            +34 625 013 479
        </a>
    </div>