---
import "../styles/components/hero-slider.scss";

const slides = [
	"/media/images/webp/hero/home1.png",
	"/media/images/webp/hero/home2.jpg",
	"/media/images/webp/hero/home3.png",
    "/media/images/webp/hero/home4.png",
    "/media/images/webp/hero/home5.jpg",
];
---

<section class="hero-slider">
	{
		slides.map((slide, index) => (
			<img
				src={slide}
				alt={`Imagen principal ${index + 1}`}
				class={`hero-slider__image ${index === 0 ? "active" : ""}`}
			/>
		))
	}
    <div class="hero-slider__logo">
		<img
			src="/icons/calle-icon.svg"
			alt="Andrea Calle"
			class="hero-slider__logo-img"
		/>
	</div>
    <div class="hero-slider__content">
		<h2>Small productions for big ideas</h2>
	</div>
</section>

<script src="/js/hero-slider.js" is:inline></script>
