---
import "../styles/hero-slider.scss";

const slides = [
	"/media/images/webp/hero/home1.png",
	"/media/images/webp/hero/home2.jpg",
	"/media/images/webp/hero/home3.png",
    "/media/images/webp/hero/home4.png",
    "/media/images/webp/hero/home5.jpg",
];
---

<section class="hero-slider">
	{
		slides.map((slide, index) => (
			<img
				src={slide}
				alt={`Imagen principal ${index + 1}`}
				class={`hero-slider__image ${index === 0 ? "active" : ""}`}
			/>
		))
	}
</section>

<script src="/js/hero-slider.js" is:inline></script>