---
import "../styles/components/hero-slider.scss";

type HeroSlide = {
	layout: 'full' | 'split'
	image?: {
		src?: string
		alt?: string
	}
	secondImage?: {
		src?: string
		alt?: string
	}
}

const {slides = []} = Astro.props as {slides?: HeroSlide[]}
---

<section class="hero-slider">
	{
		slides.map((slide, index) => (
			<div class={`hero-slider__slide hero-slider__slide--${slide.layout} ${index === 0 ? "active" : ""}`}>
				<img
					src={slide.image?.src ?? ""}
					alt={slide.image?.alt || `Imagen principal ${index + 1}`}
					class="hero-slider__image hero-slider__image--primary"
				/>

				{
					slide.layout === 'split' && slide.secondImage?.src && (
						<img
							src={slide.secondImage.src}
							alt={slide.secondImage.alt || `Imagen secundaria ${index + 1}`}
							class="hero-slider__image hero-slider__image--secondary"
						/>
					)
				}
			</div>
		))
	}
    <div class="hero-slider__logo">
		<img
			src="/icons/calle-icon.svg"
			alt="Andrea Calle"
			class="hero-slider__logo-img"
		/>
	</div>
    <div class="hero-slider__content">
		<h2>Pequeñas producciones,<br> grandes ideas</h2>
	</div>
</section>

<script src="/js/hero-slider.js" is:inline></script>
